.container{
    width: 100vh;
    height: 100vh;
}
.page{
    background-image: url('../images/landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;  
}

.logo-links{
    display: flex;
    justify-content: space-between;
}

.logo-img{
    margin-top: 30px;
    margin-left: 40px;
}

.logo-img img{
    width: 90px;
    height: 80px;
    padding-right: -10%;
}

.nav-links{
    margin-top: 30px;
}

.nav-links a{
    margin-right: 40px;
    
}

.text-message{
    margin-top: 30%;
    margin-right: 20%;
}

.text{
    color: #fff;
}

.input-fields{
    height: 50px;
    width: 50%;
    background-color: red;
    margin-top: 30px;
    margin-left: 15%;
}

.input-fields input{
    margin-top: 10px;
    margin-left: 13px;
    align-self: center;
}

.input-fields button{
    margin-left: 10px;
    width: 10%;
    height: 30px;
}

.tables{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 35%;
    padding-bottom: 20%;
}

.booking-table{
    border: 2px solid rgb(24, 22, 22);
    border-left: 2px solid rgb(24, 22, 22);
}

.table-header{
    background-color: gray;
    color: #fff;
    border-left: 2px solid rgb(24, 22, 22);
}

.table-data{
    background-color: darkslategrey;
    color: #111;
}

.slip-table{
    background-color: darkslategray;
    color: #111;
    margin-left: 20px;
    
}

